@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Mission06_Woodward.Models.Movie

<h2>Movie Added Successfully!</h2>

<p>@Model.Title has been added to the collection.</p>
