@{
    ViewData["Title"] = "Get to Know Joel";
}

<h2>Get to Know Joel</h2>

<p>
    <a href="https://www.qwcomedy.com/" target="_blank">
        Quick Wits Comedy
    </a>
</p>

<p>
    <a href="https://baconsale.com/" target="_blank">
        Baconsale Podcast
    </a>
</p>

<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/BaconsaleKate.jpg" width="400" />
</a>
